In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model  import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
import numpy as np

In [2]:
housing  =  pd.read_csv("Housing.csv")

In [3]:
housing.head()

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,61000.0,6360,2,1,1,yes,no,no,no,no,0,no

In [4]:
# label_encoder = LabelEncoder()
# housing.iloc['driveway'] = label_encoder.fit_transform(housing['driveway'])

In [5]:
housing.head()

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,61000.0,6360,2,1,1,yes,no,no,no,no,0,no

In [6]:
housing = pd.get_dummies(housing,dtype=int)

In [7]:
housing.head()

,price,lotsize,bedrooms,bathrms,stories,garagepl,driveway_no,driveway_yes,recroom_no,recroom_yes,fullbase_no,fullbase_yes,gashw_no,gashw_yes,airco_no,airco_yes,prefarea_no,prefarea_yes
0,42000.0,5850,3,1,2,1,0,1,1,0,0,1,1,0,1,0,1,0
1,38500.0,4000,2,1,1,0,0,1,1,0,1,0,1,0,1,0,1,0
2,49500.0,3060,3,1,1,0,0,1,1,0,1,0,1,0,1,0,1,0
3,60500.0,6650,3,1,2,0,0,1,0,1,1,0,1,0,1,0,1,0
4,61000.0,6360,2,1,1,0,0,1,1,0,1,0,1,0,1,0,1,0

In [8]:
X= housing.drop("price",axis =1)
y = housing['price']

In [9]:
# Train,Test Split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=23)

In [10]:
lr = LinearRegression()
dtr = DecisionTreeRegressor(random_state = 23)

In [11]:
#Regression Model
model_lr = lr.fit(X_train,y_train)
y_pred = model_lr.predict(X_test)

In [12]:
#Decision Tree Regressor Model
model_dtr = dtr.fit(X_train,y_train)
y_pred_dtr = model_dtr.predict(X_test)

In [13]:
print("Linear regression",np.round(mean_squared_error(y_test,y_pred)))
print("Decision Tree Regressor",np.round(mean_squared_error(y_test,y_pred_dtr)))

Linear regression 222913438.0
Decision Tree Regressor 474938615.0