In [12]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from sklearn.metrics import silhouette_score

In [2]:
customer=pd.read_csv("rfm_data_customer.csv",index_col=0)
customer.head()

             revenue most_recent_visit  number_of_orders  recency_days
customer_id
22086            777        2006-05-14                 9           232
2290            1555        2006-09-08                16           115
26377            336        2006-11-19                 5            43
24650           1189        2006-10-29                12            64
12883           1229        2006-12-09                12            23

In [3]:
customer = customer.drop('most_recent_visit',axis =1)

In [4]:
scaler=StandardScaler()
customer_scaled=scaler.fit_transform(customer)

In [5]:
clust=[2,3,4,5,6,7,8]
scores=[]

In [24]:
for i in clust:
    km=KMeans(n_clusters=i, random_state=23)
    km.fit(customer_scaled)
    score = silhouette_score(customer_scaled,km.labels_)
    scores.append(score)

/home/dai/anaconda3/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/dai/anaconda3/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/dai/anaconda3/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/dai/anaconda3/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/dai/anaconda3/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/dai/anaconda3/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/dai/anaconda3/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [36]:
np.max(scores)

68989.4760503691

In [38]:
scores

[68989.47605036909,
 47717.628258991215,
 37406.91493359283,
 31818.221566452095,
 27605.598213873902,
 25055.725982947268,
 22960.20302253322,
 68989.4760503691,
 47717.62825899122,
 37406.91493359284,
 31818.221566452095,
 27605.598213873902,
 25055.725982947268,
 22960.203022533213,
 0.36195789350545426,
 0.3707186478145492,
 0.3230602911457539,
 0.3253113442135702,
 0.28900534893837176,
 0.2865345219704256,
 0.2672489715243833]

In [30]:
km = KMeans(n_clusters=3,random_state=23)
km.fit(customer_scaled)

/home/dai/anaconda3/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

KMeans(n_clusters=3, random_state=23)

In [31]:
clust_df = customer.copy()
clust_df['Cluster'] = km.labels_
clust_df.sort_values(by='Cluster')

             revenue  number_of_orders  recency_days  Cluster
customer_id
24382            528                 8           488        0
34406            650                 9           389        0
31105            966                10           519        0
27631            919                10           378        0
17458           1160                10           489        0
...              ...               ...           ...      ...
25409            883                10           104        2
6538            1079                10           274        2
34509            727                 7           166        2
20075            780                10           128        2
37556            562                 6            59        2

[39999 rows x 4 columns]

In [32]:
print(clust_df.groupby(by='Cluster').mean())

             revenue  number_of_orders  recency_days
Cluster
0         692.363868          7.351704    415.639135
1        1282.842644         12.923445    133.283442
2         750.816010          8.242636    135.709691