#### **Anal  Vidya Seasonal ARIMA**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from math import sqrt
from sklearn.metrics import mean_squared_error

In [2]:
avt_train=pd.read_csv("Train_SU63ISt.csv",index_col=1)
avt_train.head()

                  ID  Count
Datetime
25-08-2012 00:00   0      8
25-08-2012 01:00   1      2
25-08-2012 02:00   2      6
25-08-2012 03:00   3      2
25-08-2012 04:00   4      2

In [3]:
idx=pd.to_datetime(avt_train.index).to_period("H")
avt_train.index=idx
avt_train.head()

/tmp/ipykernel_5919/1465845004.py:1: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  idx=pd.to_datetime(avt_train.index).to_period("H")

                  ID  Count
Datetime
2012-08-25 00:00   0      8
2012-08-25 01:00   1      2
2012-08-25 02:00   2      6
2012-08-25 03:00   3      2
2012-08-25 04:00   4      2

In [4]:
y_train=avt_train['Count']

In [5]:
from pmdarima.arima import auto_arima

In [ ]:
model = auto_arima(y_train, trace=True,
                   error_action='ignore', 
                   suppress_warnings=True,
                  seasonal= True,m=24)

Performing stepwise search to minimize aic
 ARIMA(2,1,2)(1,0,1)[24] intercept   : AIC=inf, Time=nan sec
 ARIMA(0,1,0)(0,0,0)[24] intercept   : AIC=187752.233, Time=1.18 sec
 ARIMA(1,1,0)(1,0,0)[24] intercept   : AIC=184707.797, Time=33.37 sec
 ARIMA(0,1,1)(0,0,1)[24] intercept   : AIC=185844.866, Time=31.56 sec
 ARIMA(0,1,0)(0,0,0)[24]             : AIC=187750.242, Time=0.37 sec
 ARIMA(1,1,0)(0,0,0)[24] intercept   : AIC=187738.425, Time=1.18 sec
 ARIMA(1,1,0)(2,0,0)[24] intercept   : AIC=183501.858, Time=114.44 sec

In [ ]:
forecast = model.predict(n_periods=len(y_test))
forecast = pd.DataFrame(forecast,index = y_test.index,
                        columns=['Prediction'])

In [ ]:
from sktime.utils.plotting import plot_series

In [ ]:
#plot the predictions for validation set
plot_series(y_train,y_test,forecast,labels=['train','test','forecast'])
plt.show()

In [ ]:
rms = sqrt(mean_squared_error(y_test, forecast))
print('Test RMSE: %.3f' % rms)